h1 {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
  }
  
  hr {
    font-family: monospace;
    background-color: #0074e8;
    height: 1px;
  }
  
  h2 {
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
  }
  
  h3 {
    color: #0074e8;
    background-color: #000099;
    border: 1px solid #ff00ff;
    box-shadow: 2px 2px 5px #ff0000;
    text-shadow: 1px 1px 2px #ff0033;
  }
  
  h4 {
    color: pink;
    background-color: white;
    border-color: rgb(30, 80, 250);
    box-shadow: 2px 2px 5px rgba(204, 2, 204, 0.5);
    text-shadow: 1px 1px 2px rgba(4, 204, 24, 0.5);
  }